.App {
  height: 100%;
}

.App .Middle {
  flex: 1;
  align-items: stretch;
  min-height: 0;
}

.App .Middle.Loaded {
  animation: 2s ease-in-out showScene;
}

@keyframes showScene {
  0% {
    transform: scale(0) translateY(-100%);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}
