.BottomBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 50px;
  box-sizing: border-box;
}

.AnimationSelect,
.SkinSelect {
  text-align: center;
  margin: 0 5px;
}
