.LeftBar {
  /* Prevent weird shifts in width caused by scrollbar as screen is shortened. */
  --left-bar-width: 250px;
  width: var(--left-bar-width);
  min-width: var(--left-bar-width);
  max-width: var(--left-bar-width);
  overflow-y: auto; /* Show scrollbar on short screens. */
}

.LeftBar .NavigationButtons button {
  --navigation-button-padding-x: calc(var(--bs-btn-padding-x) / 4);
  padding-left: var(--navigation-button-padding-x);
  padding-right: var(--navigation-button-padding-x);
}
