.LeftBar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #22272d;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.4);
  z-index: 1; /* Needed for the box-shadow to overlay the canvas. */
  overflow-y: auto; /* Show scrollbar on short screens. */
}

.LeftBar .ControlGroup {
  display: flex;
  flex-direction: column;
}

.LeftBar .ControlGroup + .ControlGroup {
  margin-top: 25px;
}

.LeftBar .ControlGroupTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.LeftBar .Control {
  display: flex;
  justify-content: space-between;
}

.LeftBar .Control + .Control {
  margin-top: 10px;
}

.LeftBar .Control label + input,
.LeftBar .Control label + select {
  margin-left: 5px;
}

.LeftBar .Control select {
  flex: 1;
}

.LeftBar .Control.MoveToActor,
.LeftBar .Control.MoveToAnimation,
.LeftBar .Control.ReplayAnimation {
  justify-content: flex-end;
}

.LeftBar .Control .PreviousButton + .NextButton {
  margin-left: 5px;
}
