.Loading {
  flex: 1;
  min-height: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loading .Message {
  font-style: italic;
  text-transform: uppercase;
  animation: bounce 1s ease-in-out infinite alternate;
}

@keyframes bounce {
  100% {
    transform: translateY(40px);
    filter: opacity(50%);
  }
}
