.Loading {
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loading .Message {
  font-style: italic;
  text-transform: uppercase;
}

.Loading .Message.Error {
  color: #bf7471;
}

.Loading .Message:not(.Error) {
  animation: bounce 1s ease-in-out infinite alternate;
}

@keyframes bounce {
  100% {
    transform: translateY(40px);
    filter: opacity(50%);
  }
}
