.Navbar {
  background: var(--bs-tertiary-bg);
  z-index: 1;
}

.Navbar .navbar-text {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
}

.Navbar,
.Navbar .navbar-brand,
.Navbar .navbar-text {
  /**
   * When clicking on the canvas and then dragging over the navbar, text in the
   * navbar gets selected. Let's prevent that.
   */
  user-select: none;
}
