.Scene {
  min-width: 0;
  min-height: 0;
  background: var(--bs-dark-bg-subtle);
  -webkit-tap-highlight-color: transparent; /* Prevent Chrome's blue highlight when tapping on mobile. */
}

.SceneStats {
  top: 56px !important; /* Height of the top bar. */
  right: 0px !important;
  left: unset !important;
  bottom: unset !important;
}

.SceneStats canvas {
  position: unset !important;
}

.SceneStats.Hidden {
  display: none;
}
