.TopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 50px;
  box-sizing: border-box;
}

.Brand {
  font-weight: bold;
  text-align: left;
}

.Fork {
  font-size: small;
  text-align: right;
}

.Fork a {
  color: inherit;
}

.Brand,
.Fork {
  width: 150px;
}
