.TopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  padding: 10px;
  min-height: 40px;
}

.TopBar .Brand {
  font-weight: bold;
  font-size: x-large;
}

.TopBar .Fork {
  font-size: small;
  text-align: right;
  color: inherit;
}
