@import url(~bootstrap/dist/css/bootstrap.css);
@import url(~bootstrap-icons/font/bootstrap-icons.css);

html,
body,
#root,
.App {
  height: 100%;
  overflow: hidden;
}

.App .PageContainer {
  min-height: 0;
}
